@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

body{
  overflow-x: hidden; 
}

h1{
  text-shadow:2px 2px #818789;
  font-family: 'Train One', cursive;
}

.main-image{
  background: url();
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width:100vw;
  height: 90vh;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  position: relative;
  background-attachment: fixed;
}

filter::after {
  background-color: rgba(0, 0, 0, 0.4);
  content: '';
  display:block;
  height: 100%;
  left: 0;
  top: 0;
  position:absolute;
  width:100%;
  z-index: 1;
}

.inputLabel{
  text-shadow: 2px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}